.inputWrapper {
  display: flex;
  flex-direction: column;
}

.inputLarge {
  display: flex;
  background-color: transparent;
  color: hsl(0, 0%, 9%);
  height: 46px;
  width: 350px;
  margin-bottom: 2vh;
  text-align: center;
  border: 1px solid;
}

label {
  margin-bottom: 1vh;
}

.labelOneInput {
  font-family: "Noto Medium";
}
