.menuContainer {
  margin: 10vh 0;
  margin-left: 4.5vw;
}

.spanNameUser {
  font-family: "Playfair Bold Italic";
  font-size: 2.8rem;
}

.linkAccount {
  font-family: "Playfair Black";
  font-size: 1.8rem;
  padding: 2vh 0;
  text-transform: capitalize;
}

.menuAccount {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40vw;
  padding: 3vh 0;
}

.blackSeparation {
  width: 50%;
  height: 2px;
  background-color: hsl(0, 0%, 9%);
}

.contactWrapper {
  padding: 5vh 0;
}

.logOut {
  font-size: 1rem;
  text-decoration: underline;
}

.flexRowAccount {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
