.flexRowRetreats {
  display: flex;
  flex-direction: column;
}

.cardBooking {
  border: 1px solid;
  width: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}

.buttonTripBooked {
  margin-top: 1.5rem;
  width: 15rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.textRetreatsWrapper {
  padding: 2vh 0;
  text-align: center;
}

.cardBookingWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.5vw;
  row-gap: 1.5vh;
}
