.flexRowUser {
  display: flex;
  flex-direction: column;
}
.userCard {
  margin-right: 4.5vw;
  margin-bottom: 4vh;
}

.userTitleCard {
  font-family: "Noto Medium";
}

.flexRowTitleUser {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
