.villaCard {
  width: 22.7vw;
  height: 70vh;
  margin: 5vh 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.villaCard:hover {
  transition: all 5s ease-in-out;
}

.textVillaCard {
  height: 100%;
  width: 100%;
  color: hsl(0, 0%, 98%);
  z-index: 1;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* transition: all 3s ease-in-out; */
}

.regionVillaCard {
  text-align: center;
  text-transform: capitalize;
}

.nameVillaCard {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1.4rem;
  text-align: center;
  padding: 1vh 1vw;
  font-family: "Noto";
  font-weight: bold;
}

.sloganVillaCard {
  text-align: center;
  font-family: "Playfair Bold";
  font-weight: 500;
  font-size: 1.2rem;
  margin: 1vw;
  text-transform: capitalize;
}
