.bookingVillaContainer {
  margin: 15vh 4rem 15vh;
  display: flex;
  flex-direction: row;
  width: 80%;
}

.villaBookingDetails {
  width: 45vw;
  margin-right: 2rem;
}

.precisionsBooking {
  width: 40%;
  margin-left: 15vw;
  display: flex;
  flex-direction: column;
}
