.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid black;
  margin-bottom: 2vh;
}

.gridItem {
  display: inline-grid;
  padding: 10px;
  text-align: center;
  align-items: center;
  border: 1px solid black;
}
