.bodyLogin {
    display: flex;
    align-items: center;
    margin-top: 10rem;
    justify-content: space-evenly;
    margin-top: 10rem;
}

.connection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description {
    display: flex;
    flex-direction: column


}
