.accountLogContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-height: 50vh;
  padding-top: 2vh;
}

.columnFlex {
  display: flex;
  justify-content: flex-start;
  width: 80%;
  align-items: center;
  padding-top: 15vh;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.textWrap {
  width: 60%;
  text-align: center;
}

.accountLogRedirectionContainer {
  display: flex;
  flex-direction: column;
  max-height: 50vh;
  padding-top: 10vh;
}

.logInWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-height: 50vh;
}
