.accountLogContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-height: 50vh;
  padding-top: 10vh;
}

.columnFlex {
  display: flex;
  justify-content: flex-start;
  width: 80%;
  flex-direction: column;
  align-items: center;
  padding-top: 15vh;
}

.textWrap {
  width: 60%;
  text-align: center;
}
