.first_block {
  display: flex;
  justify-content: space-around;
  height: 950px;
  margin-top: 3rem;
}

.presentation {
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-evenly;
  width: 415px;
  height: 300px;
}

.presentation div {
  display: flex;
  justify-content: flex-end;
}

.presentation h2 {
  font-size: 250%;
}

.separation {
  display: flex;
  justify-content: center;
  width: 20px;
  background-color: black;
}
.retreat {
  display: flex;
  align-items: center;
  height: 950px;
}
.block_retreat {
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-evenly;
  height: 300px;
}

.block_retreat p {
  margin: 0.1rem;
}

.block_retreat Button {
  color: white;
}

.description_retreat {
  width: 400px;
}

.second_block {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 10rem;
}

.second_block div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.separation2 {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
  margin-bottom: 10rem;
  width: 20px;
  height: 400px;
  background-color: black;
}

.date_trip {
  display: flex;
  width: 300px;
}

.services {
  display: flex;
  justify-content: center;
}

.services_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 500px;
  margin-top: 5rem;
}

.services_block div {
  margin: 0.5rem;
}

.services_align {
  display: flex;
}

.positionButton {
  display: flex;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 30px;
  background-color: hsl(50, 90%, 94%);
  border-color: gray;
  border-radius: 3px;
}

.titleContainers {
  font-size: 40px;
}
