.greenBackgroundService {
  background-color: hsl(64, 17%, 84%);
  /* z-index: -1; */
  width: 70%;
  height: 60vh;
}

.textServiceContainer {
  width: 46vw;
  margin-left: 4vw;
  margin-top: 6vh;
}

.imgServiceContainer {
  width: 30%;
  height: 80vh;
}

.flexrowService {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
