.accountContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10vh 4vw 0;
}

.signUpContainer {
  display: flex;
  flex-direction: column;
}

.login {
  display: flex;
}
