.box {
  width: 10rem;
  border: 1px solid;
  text-align: center;
  padding: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexBox {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: stretch;
  gap: 1rem;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  background-color: green;
}

.clickable:active {
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
}
