.menuAccount {
  font-size: 30px;
  width: 200px;
  height: 6vh;
  color: black;
  margin: 1rem
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vh;
  margin-top: 10rem;
}

.welcome {
  margin-bottom: 3rem;
  padding: 0;
}

.buttons {
  display: flex;
  margin-top: 2rem;
  justify-content: space-evenly
}

.informations {
  border: 1px black solid;
  padding: 1rem;
}
