nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-height: 9vh;
  position: fixed;
  top: 0;
  margin: 0;
  z-index: 1;
}

nav:hover {
  background-color: hsl(50, 90%, 94%);
  color: hsl(0, 0%, 9%);
  border: 1px solid hsl(0, 0%, 9%);
}

.logoContainer {
  width: 3.5vw;
  height: 6vh;
  margin: 4rem;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

li {
  list-style-type: none;
  margin: 0 1.5rem;
  text-decoration: none;
}

.linkNavbar {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: hsl(0, 0%, 98%);
  text-decoration: none;
}

.linkNavbar:hover {
  color: hsl(0, 0%, 9%);
  text-decoration: none;
}
