.divInput {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

input {
    display: flex;
    background-color:rgb(253, 249, 225);
    border-color: gray;
    border-radius: 3px;
    height: 46px;
    width: 381px;
    margin-top: 1rem;
}