.serviceCard {
  width: 32.2vw;
  height: 34vh;
  position: relative;
  margin: 5vh 0 0.5vh;
}

.textServiceCard {
  height: 100%;
  width: 100%;
  color: hsl(0, 0%, 98%);
  z-index: 1;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleService {
  color: hsl(0, 0%, 98%);
}
