.user {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 300px;
  margin-top: 18rem;
  margin-left: 3rem;
  border: black 1px solid;
  padding: 1rem;
}

.element {
  width: 300px;
  margin-top: 1rem;
}

.titleDiv {
  margin-left: 4rem;
}
