@font-face {
  font-family: "Playfair Bold Italic";
  src: url("./fonts/Playfair_Display/static/PlayfairDisplay-BoldItalic.ttf");
  font-family: "Playfair Black";
  src: url("./fonts/Playfair_Display/static/PlayfairDisplay-Black.ttf");
  font-family: "Playfair Bold";
  font-family: "Noto";
  src: url("./fonts/Noto_Sans_KR/NotoSansKR-Regular.otf");
  font-family: "Playfair Semibold Italic";
  src: url("./fonts/Playfair_Display/static/PlayfairDisplay-SemiBoldItalic.ttf");
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto";
  font-size: 1.1rem;
  background-color: hsl(50, 90%, 94%);
  margin: 0;
  padding: 0;
  color: hsl(0, 0%, 9%);
}

h1 {
  font-family: "Playfair Bold Italic";
  font-size: 2.25rem;
  font-style: italic;
  /* margin-bottom: 1rem; */
  padding: 1rem 0;
}

h2 {
  font-family: "Playfair Black";
  font-size: 1.8rem;
  margin-bottom: 1rem;
  padding: 1rem 0;
}

h3 {
  font-family: "Playfair Bold Italic";
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1vh;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.containerPictureVertical {
  width: 560px;
  height: 820px;
  padding: 2rem;
}

.spanLineBreak {
  display: block;
}

.flexVertical {
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1rem;
  justify-content: center;
}

.pageContainer {
  margin: 6vh 0;
}
